  .content {
    overflow-y: scroll;
    height: 100%;
    flex: 1;
  }
  
  .item {
    height: 50px; /* Fixed height for each item */
    border-bottom: 1px solid #ccc;
  }
  
  /* src/CustomScrollbar.css */
  .custom-scrollbar {
    width:'100%';
    background: #000000;
    height: calc(100% - 150px); /* Adjust based on the margins */
    display: flex;
    flex-direction: column;
    margin-top: 40px; /* sth. it matches with the scrollbar */
    margin-bottom: 110px; 
    
  }
  
  .marker {
    flex-grow: 1;
    width: 100%;
    
  }